html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

form, fieldset {
    border: 0;
}

.tbl_st03 {
    width: 100%;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    color: #231f20;
    text-align: center;
    line-height: 18px;
    table-layout: fixed;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

colgroup {
    display: table-column-group;
}

.tbl_st03 th:first-child {
    background-image: none;
}

.tbl_st03 th {
    padding: 14px 0 13px;
    border-bottom: 1px solid #c0c0c0;
    background: url(http://www.lottecinema.co.kr/LCHS/Image/Bg/bg_tab_line.gif) no-repeat left center;
    vertical-align: middle;
} 

.tbl_st03 td {
    padding: 15px 10px;
    border-bottom: 1px solid #dedede;
    color: #666;
    vertical-align: middle;
}

.srchResult_none {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.srchResult_none .txt {
    display: inline-block;
    height: 23px;
    padding-left: 28px;
    background: url(http://www.lottecinema.co.kr/LCHS/Image/Bg/bg_ex_mark.png) no-repeat 0 0;
    font-size: 18px;
    color: #777;
    line-height: 25px;
}

.btn_rbox {
    position: relative;
    margin-top: 20px;
    text-align: right;
}

.myCinemaCont .btnc_reserve {
    font-size: 15px;
    min-width: 137px;
}
 
.btn_box [class^=btnc_] {
    display: inline-block;
    min-width: 140px;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid #231f20;
    background: #231f20;
    font-size: 16px;
    font-weight: bold;
    color: #e5e1b0;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.btn_rbox > a {
    margin-left: 2px;
}

.btn_box:after {
    clear: both;
    display: block;
    content: '';
}