html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

#wrap {
    width: 100%;
    min-width: 980px;
}

#container {
    position: relative;
    min-width: 980px;
    border-top: 1px solid #e9e4d2;
    min-height: 669px;
}

#content {
    position: relative;
    min-height: 400px;
}

.myCinema {
    width: 100%;
    padding: 50px 0;
    background: #f9f6ec;
}

.myCinema .myInfo {
    width: 980px;
    margin: 0 auto;
    font-size: 14px;
    color: #777;
}

.myCinema .myInfoTit {
    overflow: hidden;
    padding: 17px 30px 17px;
    background: #282e34;
}

.myCinema .myInfoTit em {
    float: left;
    font-size: 16px;
    color: #fff;
}

address, caption, em {
    font-weight: normal;
    font-style: normal;
}

.myCinema .myInfoTit em .userName, .myCinema .myInfoTit dd, .myCinema .myInfoTit dd a {
    color: #cdc197;
}

.myCinema .myInfoTit dl {
    float: right;
}

.myCinema .myInfoTit dt, .myCinema .myInfoTit dd {
    float: left;
}

.myCinema .myInfoTit dt {
    margin-right: 15px;
    padding-right: 15px;
    background: url(http://www.lottecinema.co.kr/LCHS/Image/Bg/bg_my_line.gif) no-repeat 100% 50%;
    color: #c5c5c5;
    line-height: 20px;
}

.myCinema .pointCont {
    overflow: hidden;
    height: 150px;
} 

.myCinema .pointCont > dl:first-child {
    border-left: none;
}



.myCinema .pointCont > dl {
    position: relative;
    float: left;
    height: 211px;
    padding: 30px 30px 40px;
    border-left: 1px solid #e5e5e5;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.myCinema .pointCont > dl > dt {
    height: 25px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #231f20;
    line-height: 25px;
}

.myCinema .pointCont .apoint .available {
    margin-bottom: 30px;
}

.myCinema .pointCont .apoint .available * {
    vertical-align: middle;
}

.myCinema .pointCont .apoint strong {
    float: right;
    font-size: 36px; 
    line-height: 23px;
    letter-spacing: -1px;
}

.myCinema .pointCont strong {
    font-size: 24px;
    font-family: 'linlivertine';
    color: #231f20;
} 

.myCinema .pointCont .note {
    font-size: 12px;
    line-height: 25px;
    color: #666;
    letter-spacing: -1px;
    margin-bottom: 0;
}

ol, ul, li {
    list-style: none;
} 

.myCinemaCont .tab_st03 > li > a {
    width: 139px;
}


.myCinemaCont {
    width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 14px;
}

ol, ul, li {
    list-style: none;
}

.myCinemaCont .tab_st03 {
    margin-bottom: 0;
}

.tab_st03 {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.tab_st03 > li:first-child {
    margin-left: 0;
}

.tab_st03 > li {
    float: left;
    margin-left: 1px;
} 

.tab_st03 .active > a {
    background: #231f20;
    color: #cdc197;
}

.tab_st03 > li > a {
    display: block;
    width: 195px;
    height: 49px;
    background: #efebdb;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 14px;
    color: #231f20;
    text-align: center;
}

a {
    text-decoration: none;
    color: #555;
}

.tab_st03 > li > a:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.tab_st03:after {
    content: '';
    display: block;
    clear: both;
}

.myCinemaCont .tabCont {
    padding: 80px 0 0;
    color: #231f20;
}

.srchResult_none {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.srchResult_none .txt {
    display: inline-block;
    height: 23px;
    padding-left: 28px;
    background: url(http://www.lottecinema.co.kr/LCHS/Image/Bg/bg_ex_mark.png) no-repeat 0 0;
    font-size: 18px;
    color: #777;
    line-height: 25px;
}

.myCinema_list {
    margin-bottom: 20px;
    border-bottom: 1px solid #c0c0c0;
}

.myCinema_list .myCinema_box {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px 30px;
    border-top: 1px solid #c0c0c0;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.myCinema_list .myCimema_cont {
    float: left;
    width: 702px;
    margin-left: 40px;
    line-height: 22px;
}

.myCinema_list .myCimema_cont dt {
    clear: both;
    float: left;
    width: 142px;
    font-size: 14px;
    color: #666;
}

.myCinema_list .myCimema_cont dd {
    float: left;
    width: 550px;
    font-size: 14px;
    color: #231f20;
    font-weight: bold;
}

form, fieldset {
    border: 0;
}

.tbl_st03 {
    width: 100%;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    color: #231f20;
    text-align: center;
    line-height: 18px;
    table-layout: fixed;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

colgroup {
    display: table-column-group;
}

.tbl_st03 th:first-child {
    background-image: none;
}

.tbl_st03 th {
    padding: 14px 0 13px;
    border-bottom: 1px solid #c0c0c0;
    background: url(http://www.lottecinema.co.kr/LCHS/Image/Bg/bg_tab_line.gif) no-repeat left center;
    vertical-align: middle;
} 

.tbl_st03 td {
    padding: 15px 10px;
    border-bottom: 1px solid #dedede;
    color: #666;
    vertical-align: middle;
}

.srchResult_none {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.srchResult_none .txt {
    display: inline-block;
    height: 23px;
    padding-left: 28px;
    background: url(http://www.lottecinema.co.kr/LCHS/Image/Bg/bg_ex_mark.png) no-repeat 0 0;
    font-size: 18px;
    color: #777;
    line-height: 25px;
}

.btn_rbox {
    position: relative;
    margin-top: 20px;
    text-align: right;
}

.myCinemaCont .btnc_reserve {
    font-size: 15px;
    min-width: 137px;
}

.btn_box [class^=btnc_] {
    display: inline-block;
    min-width: 140px;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid #231f20;
    background: #231f20;
    font-size: 16px;
    font-weight: bold;
    color: #e5e1b0;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.btn_rbox > a {
    margin-left: 2px;
}

.btn_box:after {
    clear: both;
    display: block;
    content: '';
}


form, fieldset {
    border: 0;
}

.tbl_st03 {
    width: 100%;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    color: #231f20;
    text-align: center;
    line-height: 18px;
    table-layout: fixed;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

colgroup {
    display: table-column-group;
}

.tbl_st03 th:first-child {
    background-image: none;
}

.tbl_st03 th {
    padding: 14px 0 13px;
    border-bottom: 1px solid #c0c0c0;
    background: url(http://www.lottecinema.co.kr/LCHS/Image/Bg/bg_tab_line.gif) no-repeat left center;
    vertical-align: middle;
} 

.tbl_st03 td {
    padding: 15px 10px;
    border-bottom: 1px solid #dedede;
    color: #666;
    vertical-align: middle;
}

.srchResult_none {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.srchResult_none .txt {
    display: inline-block;
    height: 23px;
    padding-left: 28px;
    background: url(http://www.lottecinema.co.kr/LCHS/Image/Bg/bg_ex_mark.png) no-repeat 0 0;
    font-size: 18px;
    color: #777;
    line-height: 25px;
}

.btn_rbox {
    position: relative;
    margin-top: 20px;
    text-align: right;
}

.myCinemaCont .btnc_reserve {
    font-size: 15px;
    min-width: 137px;
}
 
.btn_box [class^=btnc_] {
    display: inline-block;
    min-width: 140px;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid #231f20;
    background: #231f20;
    font-size: 16px;
    font-weight: bold;
    color: #e5e1b0;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.btn_rbox > a {
    margin-left: 2px;
}

.btn_box:after {
    clear: both;
    display: block;
    content: '';
}

.myCinemaCont .tabCont.my_manage {
    /* padding: 0 0 80px; */
    padding: 0;
}

.myCinemaCont .tabCont {
    padding: 80px 0 0;
    color: #231f20;
}

.manage_step li.second {
    background: url(http://www.lottecinema.co.kr/LCHS/Image/Icon/icon_m_step02.png) no-repeat 55px 50%;
}

.manage_step li {
    float: left;
    width: 245px;
    height: 78px;
    line-height: 78px;
    border-right: 1px solid #dedede;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 14px;
}

.manage_step li.second a {
    padding-left: 93px; 
}

.manage_step li a {
    display: block;
    color: #666;
    font-weight: bold;
}

.manage_step li.last {
    background: url(http://www.lottecinema.co.kr/LCHS/Image/Icon/icon_m_step04.png) no-repeat 63px 50%;
}

.manage_step li.last a {
    padding-left: 105px;
    background-position: 164px 50%;
}

.manage_step:after {
    content: '';
    display: block;
    clear: both;
}

.myCinema .pointCont .coupon {
    width: 490px;  
}  

.myCinema .pointCont > dl {
    position: relative;
    float: left;
    height: 211px;
    padding: 30px 30px 40px;
    border-left: 1px solid #e5e5e5;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} 

.myCinema .pointCont > dl dl {
    line-height: 18px;
}

.myCinema .pointCont .coupon dl dt {
    line-height: 18px;
}

.myCinema .pointCont .coupon dl dt, .myCinema .pointCont .coupon dl dd {
    margin-bottom: 10px;
}

.myCinema .pointCont > dl dl dt {
    clear: both;
    float: left;
    margin-bottom: 30px;
    font-size: 14px;
    color: #666;
}

.myCinema .pointCont .coupon dl dd {
    line-height: 16px;
}

.myCinema .pointCont > dl dl dd {
    float: right;
    margin-bottom: 30px;
}