html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

#wrap {
    width: 100%;
    min-width: 980px;
}

#container {
    position: relative;
    min-width: 980px;
    border-top: 1px solid #e9e4d2;
    min-height: 669px;
}

#content {
    position: relative;
    min-height: 400px;
}

.myCinema {
    width: 100%;
    padding: 50px 0;
    background: #f9f6ec;
}

.myCinema .myInfo {
    width: 980px;
    margin: 0 auto;
    font-size: 14px;
    color: #777;
}

.myCinema .myInfoTit {
    overflow: hidden;
    padding: 17px 30px 17px;
    background: #282e34;
}

.myCinema .myInfoTit em {
    float: left;
    font-size: 16px;
    color: #fff;
}

address, caption, em {
    font-weight: normal;
    font-style: normal;
}

.myCinema .myInfoTit em .userName, .myCinema .myInfoTit dd, .myCinema .myInfoTit dd a {
    color: #cdc197;
}

.myCinema .myInfoTit dl {
    float: right;
}

.myCinema .myInfoTit dt, .myCinema .myInfoTit dd {
    float: left;
}

.myCinema .myInfoTit dt {
    margin-right: 15px;
    padding-right: 15px;
    background: url(http://www.lottecinema.co.kr/LCHS/Image/Bg/bg_my_line.gif) no-repeat 100% 50%;
    color: #c5c5c5;
    line-height: 20px;
}

.myCinema .pointCont {
    overflow: hidden;
    height: 150px;
} 

.myCinema .pointCont > dl:first-child {
    border-left: none;
}

.myCinema .pointCont .apoint {
    width: 1000px;
}

.myCinema .pointCont > dl {
    position: relative;
    float: left;
    height: 211px;
    padding: 30px 30px 40px;
    border-left: 1px solid #e5e5e5;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.myCinema .pointCont > dl > dt {
    height: 25px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #231f20;
    line-height: 25px;
}

.myCinema .pointCont .apoint .available {
    margin-bottom: 30px;
}

.myCinema .pointCont .apoint .available * {
    vertical-align: middle;
}

.myCinema .pointCont .apoint strong {
    float: right;
    font-size: 36px;
    line-height: 23px;
    letter-spacing: -1px;
}

.myCinema .pointCont strong {
    font-size: 24px;
    font-family: 'linlivertine';
    color: #231f20;
} 

.myCinema .pointCont .note {
    font-size: 12px;
    line-height: 25px;
    color: #666;
    letter-spacing: -1px;
    margin-bottom: 0;
}

ol, ul, li {
    list-style: none;
} 

.myCinemaCont .tab_st03 > li > a {
    width: 139px;
}
