<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.NoticeMapper">
	
	<insert id="insert">
		 INSERT INTO notice VALUES(
		 	seq_notice.nextval, #{memberIdx}, #{id}, #{email}, #{title}, #{content}, #{answer}, 0, sysdate)
	</insert>
	
	<select id="getNotice" resultType="com.spring.domain.NoticeVO">
		select * from ( select rank() over(order by regdate desc) no,
		b.* from(select * from notice where memberIdx=#{memberIdx} ) b ) where no between #{start} and #{end}
	</select>  
	
	<select id="getTotal" resultType="java.lang.Integer">
		select count(*) from notice 
	</select>
	
	<select id="selectAll" resultType="com.spring.domain.NoticeVO">
		select * from notice order by regdate desc
	</select>
	 
	<update id="answerEmail"> 
		update notice set answer=#{answer}, done=1 where idx=#{idx}
	</update>
	
</mapper>    